*, 
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	font-size:62.5%;
	margin:0px;
	padding:0px;
}

body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0px;
	padding:0px;
}

canvas{
    max-width: 100%;
    width: 100%; 
}

.content {
	display:block;
	margin:0px;
	padding:0px;
}

.intro {
	display:block;
	position:relative;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	height:100vh;
	background:rgba(33,33,33,1);
	overflow:hidden;
}
